.grid{
    border-radius: 5px solid red;
}
.border{
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 10px;
    color: black;
}
.border:focus {
  border-color: #850a0a;
  box-shadow: 0 0 8px rgba(133, 10, 10, 0.6);
}